[data-tab-content] {
    display: none;
} 
.active[data-tab-content] {
    display: block;
}

* {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}
body {
    background-color: whitesmoke;
}


#content {
    background-color: gainsboro;
    margin-right: 10px;
}
#content h1 {
    padding-bottom: 20px;
}

.tab-content {
    margin: auto;
    width: 80%;
    background-color: lightgrey;
    padding: 15px;
    text-align: center;
}
.tab-rcp {
    float: left;
    text-decoration: none;
    list-style-type: none;
    background-color: gainsboro;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 500px;
    
}
.tab-rcp h2 {
    padding-bottom: 25px;
    padding-left: 22%;
}
